*{
    /* Konieczne ustawienia paddingu i marginu dla strony żeby ładnie wyglądało */
    margin: 0;
    padding: 0;
}
.topbar {
    padding: 10px 0;
    background-color: #111111;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2000;
}
/* ----- scrollbar ----- */
::-webkit-scrollbar {
    width:8px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(92, 92, 92, 0.356);
    border-radius: 1px; 
    transition: 0.3s;
}
/* ---------- */
.logo {
    margin-left: 20px;
    font-size: 36px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: white;
    text-decoration: none;
}
.container {
    padding-top: 100px;
    width: 100%;
    position: relative;
    background-color: #11111181;
    padding-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #303030;
    background-color: #161616;
    height: 100px;
}
