{% extends 'shop/base.html' %}
{% load static %}
{% load extra_filters %}

{% block content %}
<link rel="stylesheet" href="{% static 'shop/checkout.css' %}">
<div class="container">
    <div class="form-box">
        <form id='form' method="POST">
            <div id="user-info">
                <h3>Personal information</h3>
                <hr>
                <div class="form-group">
                    <label>Full name</label>
                    <div>
                        <input type="text" placeholder="Type name here.." name="fullname">
                        <i class="material-symbols-outlined" translate="no">badge</i>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div>
                        <input type="email" placeholder="Type email here.." name="email">
                        <i class="material-symbols-outlined" translate="no">alternate_email</i>
                    </div>
                </div>
            </div>
            <h3>Shipping information</h3>
            <hr>
            <div class="form-group max-width">
                <label>Address</label>
                <div>
                    <input type="text" placeholder="Address.." name="address" required>
                    <i class="material-symbols-outlined" translate="no">location_on</i>
                </div>
            </div>
            <div class="form-group">
                <label>City</label>
                <div>
                    <input type="text" placeholder="City.." name="city" required>
                    <i class="material-symbols-outlined" translate="no">location_city</i>
                </div>
            </div>
            <div class="form-group">
                <label>Postal code</label>
                <div>
                    <input type="text" placeholder="Postal code.." name="postal_code" required>
                    <i class="material-symbols-outlined" translate="no">tag</i>
                </div>
            </div>
            <hr style="width: 95%">
            {% if cart_items_counter == 0 %}
                <p class="order-message">No items selected! Choose one or more products to submit your order</p>
            {% else %}
                <button id="form-btn" type="submit">Continue</button>
            {% endif %}
        </form>
        <div id='payment-info' class="hidden">
            <h3>Choose payment option:</h3>
            <div class="payment-option">
                <p>Paypal</p>
                <button id="make-payment">Make payment</button>
            </div>
        </div>
    </div>
    <div class="order-summary">
        <a class="go-back" href="{% url 'cart' %}">&#8592;Back to cart</a>
        <h3>Order summary</h3>
        <hr>
        {% for item in items %}
        <div class="order-element left50">
            <img class="elem-img" src="{{ item.product.imageURL }}">
            <div class="product-info">
                <div class="product-name">{{ item.product.name }} <strong>(x{{ item.quantity }})</strong></div>
                <div>{{ item.product.price }} PLN</div>
                <span class="total-price">{{ item.product.price|multiply:item.quantity }} PLN</span>
            </div>
        </div>
        {% endfor %}
        <hr class="bottom-line">
        <h3 class="items">Items: {{ order.items_counter }}</h3>
        <h3 class="total">Total: {{ order.total_price }} PLN</h3>
    </div>
</div>
<script type="text/javascript">
    // hide part of form if user is authenticated
    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    var totalPrice = '{{order.total_price}}';

    var form = document.getElementById('form');

    form.addEventListener('submit', function(event){
        // prevent template from performing its normal actions
        event.preventDefault();
        console.log('Form submitted...');
        document.getElementById('form-btn').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    });

    document.getElementById('make-payment').addEventListener('click', function(event){
        submitFormData();
    });

    function submitFormData(){
        var userFormData = {
            'fullname': null,
            'email': null,
            'total': totalPrice,
        }

        var shippingInfo = {
            'address': form.address.value,
            'city': form.city.value,
            'postal_code': form.postal_code.value,
        }

        if (user == 'AnonymousUser') {
            userFormData.fullname = form.fullname.value;
            userFormData.email = form.email.value;
        }

        var url = '/process_order/' // url to send data
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'home' %}";
        })
    }
</script>
{% endblock content %}