{% extends 'shop/base.html' %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="sidebar">
            
        </div>
        <div class="products-list">
            {% for product in products %}
            <div class="product-box">
                <img class="left50" src="{{ product.image.url }}" alt="cannot display image">
                <div class="product-details">
                    <span>{{ product.name }}</span>
                    <p>{{ product.price }} PLN</p>
                    <div class="rating">
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                    </div>
                    <a href="{% url 'product-detail' product.id %}"><button><i class="material-symbols-outlined" translate="no">arrow_right_alt</i></button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}