{% extends 'shop/base.html' %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="sidebar">
            <form method="GET" action="{% url 'filter' %}">
                <label for="min_price">Min price:</label>
                <input type="number" name="min_price">
                <br>
                <label for="max_price">Max price:</label>
                <input type="number" name="max_price">
                <br>
                <button type="submit">Filter products</button>
            </form>
        </div>
        <div class="products-list">
            {% for product in products %}
            <div class="product-box">
                <div class="img-background" style="background-image:url('{{ product.imageURL }}') ;">
                    <div></div>
                </div>
                <img class="left50 img" src="{{ product.imageURL }}" alt="cannot display image">
                <div class="product-details">
                    <span>{{ product.name }}</span>
                    <p>{{ product.price }} PLN</p>
                    <div class="rating">
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                        <div><i class="material-symbols-outlined" translate="no">star</i></div>
                    </div>
                    <a href="{% url 'product-detail' product.id %}"><button><i class="material-symbols-outlined" translate="no">arrow_right_alt</i></button></a>
                </div>
            </div>
            {% empty %}
                <p>No products found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}